<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
	<meta name="author" content="https://www.Zerotheme.com">

	<title>Drôle d'oiseau</title>

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="{% static 'style.css' %}" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Owl Carousel Assets -->
	<link href="owl-carousel/owl.carousel.css" rel="stylesheet">
	<!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<link href="{% static 'cv.css' %}" rel="stylesheet" type="text/css">

	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!--Top-->
	<header class="main-header">

		<div class="container text-center">
			<a class="site-branding" href="index.html">
				<h1 class="site-title">
					Partie CV
				</h1>
				<p class="site-description">
					Envoyez son cv
				</p>
			</a><!-- .site-branding -->
		</div>

		<!--Navigation-->
		<div id="menu-wrapper">
			<nav id="menu" class="navbar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
							data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<li><a href="http://127.0.0.1:8000/">Home</a></li>
							<li><a href="http://127.0.0.1:8000/blog">Blog projet</a></li>
							<li><a href="http://127.0.0.1:8000/contact">Contact</a></li>
							<li><a href="http://127.0.0.1:8000/cv">Candidature</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

	</header>
	<!-- /Section: intro -->




	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">

		<!-- CV -->
		<section class="box-content">
			<div class="container-fluid">
				<br />
				<h2>{{ send }}</h2>
				<br />
				<div class="container-cv col-xs-12">
					<form name="form2" method="post">
						{% csrf_token %}
						<div class="col-sm-6 background-left">
							<div class="cv-container-left">
								<img src="{% static 'images/3.jpg' %}" class="img-responsive" />
								<input type="text" class="form-control input-lg" name="nom" id="nom" placeholder="Nom"
									required="required" />
								<input type="text" class="form-control input-lg" name="prenom" id="prenom"
									placeholder="Prénom" required="required" />
								<div class="div-contact">
									<p>Contact</p>
									<input type="text" class="form-control input-lg" name="numero" id="numero"
										placeholder="Numéro" required="required" />
									<input type="text" class="form-control input-lg" name="email" id="email"
										placeholder="Email" required="required" />
									<input type="text" class="form-control input-lg" name="adresse" id="adresse"
										placeholder="Adresse" required="required" />
								</div>
								<div class="div-contact">
									<p>Formation</p>
									<textarea rows="4" cols="25" style="height: 100px;" type="text"
										class="form-control input-lg" name="formation" id="formation"
										placeholder="Formation" required="required"></textarea>
								</div>
								<div class="div-contact">
									<p>Langues</p>
									<textarea rows="4" cols="25" style="height: 50px;" type="text"
										class="form-control input-lg" name="langue" id="langue" placeholder="Langue(s)"
										required="required"></textarea>
								</div>
							</div>
						</div>
						<div class="col-sm-6 background-right">
							<div class="cv-container-right">
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<textarea rows="4" cols="25" style="height: 150px;" type="text"
												class="form-control input-lg" name="profil" id="profil"
												placeholder="Description de votre profil"
												required="required"></textarea>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group">
											<textarea rows="4" cols="25" style="height: 150px;" type="text"
												class="form-control input-lg" name="experience" id="experience"
												placeholder="Experience(s)" required="required"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<textarea rows="4" cols="25" style="height: 100px;" type="text"
												class="form-control input-lg" name="competence" id="competence"
												placeholder="Competences" required="required"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-skin btn-block" name="submitcontact"
											id="submitcontact">Envoyer la candidature</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>


	</div>






	<!-- JS -->
	<script src="js/bootstrap.min.js"></script>

	<script>
		$(function () {
			$('#menu-wrapper').height($("#menu").height());

			$('#menu').affix({
				offset: { top: $('#menu').offset().top }
			});
		});
	</script>
</body>

</html>